#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Parser GNSS"

module = PARSER_GNSS
module-str = PARSER_GNSS
source "subsys/logging/Kconfig.template.log_config"

endmenu # Parser GNSS
