#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Sensor BLE"

module = SENSOR_BLE
module-str = SENSOR_BLE
source "subsys/logging/Kconfig.template.log_config"

endmenu # Sensor BLE
