#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Gateway BLE"

module = GATEWAY_BLE
module-str = Gateway_BLE
source "subsys/logging/Kconfig.template.log_config"

endmenu # Gateway BLE
