#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
menu "Worker Shadow Service"

module = WORKER_SHADOW_SERVICE
module-str = WORKER_SHADOW_SERVICE
source "subsys/logging/Kconfig.template.log_config"

endmenu # Worker Shadow Service
