#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Sensor Common"

module = SENSOR_COMMON
module-str = SENSOR_COMMON
source "subsys/logging/Kconfig.template.log_config"

endmenu # Sensor Common
